.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 20px 30px;
    gap: 20px;
    border: 1px solid black;
    border-radius: 10px;
}
.main-header {
    text-align: center;
    font-family: "Calibri Light", serif;
    text-transform: uppercase;
    font-size: 24px;
}
.num-input, .result-input {
    text-align: right;
    border: 1px solid gray;
    padding: 10px 20px;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
}
.select-list-button {
    font-size: 18px;
    padding: 10px 40px;
    text-align: left;
}
.result-input {
    background-color: #fff;
    color: #000;
}
.select-list {
    display: none;
    margin-top: -20px;
    max-height: 400px;
    overflow-y: scroll;
}
.select-list::-webkit-scrollbar{
    width: 0 !important
}
.select-list-visible {
    display: block;
}
.select-list-item {
    font-size: 18px;
    padding: 10px 40px;
    text-align: left;
    border-bottom: 1px solid black;
    cursor: pointer;
}
.select-list-item:hover {
    background: #ddd;
}